@charset "UTF-8";

body {
  padding: 0;
  margin: 15px;
  font-family: Times New Roman, Meiryo;
  text-align: left;
  background: #ffffff;
  line-height: 2em;
}

/*パラグラフ設定*/

ul {
  border: double 3px;
}

ol {
  border: double 3px;
}

nav {
  background-color: #f1dec3;
}

skt {
  font-family: Arial;
}

div.em {
  background-color: #f1dec3;
}

div {
  margin: 5px;
  background-color: #fce8d5;
}

blockquote {
  border: dotted 1px;
}
